[project]
	description = GObject Introspection for Yocto & OpenEmbedded
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Changhyeok Bae (meta-gir)
[access "refs/for/refs/*"]
	read = group user/Changhyeok Bae (meta-gir)
	push = group user/Changhyeok Bae (meta-gir)
	label-Code-Review = -2..+2 group user/Changhyeok Bae (meta-gir)
	label-Verified = -1..+1 group user/Changhyeok Bae (meta-gir)
	rebase = group user/Changhyeok Bae (meta-gir)
	removeReviewer = group user/Changhyeok Bae (meta-gir)
	submit = group user/Changhyeok Bae (meta-gir)
[access "refs/heads/*"]
	read = group user/Changhyeok Bae (meta-gir)
	create = group user/Changhyeok Bae (meta-gir)
	push = +force group user/Changhyeok Bae (meta-gir)
	pushMerge = group user/Changhyeok Bae (meta-gir)
	submit = group user/Changhyeok Bae (meta-gir)
[access "refs/tags/*"]
	push = +force group user/Changhyeok Bae (meta-gir)
	pushTag = group user/Changhyeok Bae (meta-gir)
	pushSignedTag = group user/Changhyeok Bae (meta-gir)
[receive]
	requireSignedOffBy = true
[submit]
	action = cherry pick
