[project]
	description = GObject Introspection for Yocto & OpenEmbedded
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/meta-gir
[access "refs/for/refs/*"]
	read = group user/meta-gir
	push = group user/meta-gir
	label-Code-Review = -2..+2 group user/meta-gir
	label-Verified = -1..+1 group user/meta-gir
	rebase = group user/meta-gir
	removeReviewer = group user/meta-gir
	submit = group user/meta-gir
[access "refs/heads/*"]
	read = group user/meta-gir
	create = group user/meta-gir
	push = +force group user/meta-gir
	pushMerge = group user/meta-gir
	submit = group user/meta-gir
[access "refs/tags/*"]
	push = +force group user/meta-gir
	pushTag = group user/meta-gir
	pushSignedTag = group user/meta-gir
